<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-exodia rounded" th:fragment="header">
            <a class="navbar-brand nav-link-white" href="/">EXODIA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid bg-exodia rounded" th:fragment="footer">
            <div class="text-white p-2 text-center">&copy; CopyRight Sanity Web Design Studios 2019. All rights
                reserved.
            </div>
        </div>
        <!-- document section -->
          <div class="print-scheduled col-md-2 bg-exodia rounded" th:fragment="doc_entry">
                    <h5 class="text-center text-white font-weight-bold py-3 mt-3" th:text="${document.title}"></h5>
                    <hr class="bg-white"/>
                    <div class="buttons-holder w-75 mx-auto d-flex justify-content-between">
                        <button class="btn bg-exodia text-white font-weight-bold mb-3">Print</button>
                        <button class="btn bg-exodia text-white font-weight-bold mb-3">Details</button>
                    </div>
          </div>
	</body>
</html>